/* ::::: http://haseydesign.com/flexi-auth/includes/css/global.css?v=1.0 ::::: */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-size: 100%; vertical-align: baseline; background: transparent none repeat scroll 0% 0%; }
body { font: 14px/1.3 sans-serif; color: rgb(51, 51, 51); }
html { overflow-y: scroll; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; text-rendering: optimizelegibility; }
h1 { font-size: 19px; margin: 5px 0px; }
h2 { font-size: 18px; margin: 5px 0px; }
h6 { font-size: 14px; margin: 0px 0px 3px; }
p { font-size: 14px; margin: 0px 0px 5px; }
small { display: block; margin-top: 5px; font-style: italic; color: rgb(102, 102, 102); line-height: 1.4; font-size: 85%; }
*::-moz-selection { background: rgb(51, 153, 255) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-shadow: none; }
.info_req label::after, th.info_req::after { content: "*"; color: rgb(204, 0, 0); font-size: 110%; }
.info_note label::after, th.info_note::after { content: "†"; vertical-align: 7px; font-size: 70%; }
a { margin: 0px; padding: 0px; font-size: 100%; vertical-align: baseline; background: transparent none repeat scroll 0% 0%; }
a:hover, a:active { outline: medium none; }
a, a:link, a:active, a:visited { color: rgb(0, 102, 204); text-decoration: none; }
a:hover { color: rgb(0, 102, 204); text-decoration: underline; }
a:link {  }
.link_button, a.link_button { position: relative; display: inline-block; margin-right: 3px; border-radius: 4px; color: rgb(250, 250, 250); text-decoration: none; text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25); cursor: pointer; }
.link_button:visited, a.link_button:visited { color: rgb(250, 250, 250); }
.link_button:hover, a.link_button:hover { color: rgb(255, 255, 255); text-decoration: none; }
.link_button:active, a.link_button:active { color: rgb(240, 240, 240); top: 1px; }
.link_button, .link_button:visited { padding: 5px 6px; font-size: 13px; font-weight: bold; line-height: 1; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3); }
.large.link_button, .large.link_button:visited { padding: 8px; font-size: 14px; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); }
.link_button, .link_button:visited { background: transparent -moz-linear-gradient(center top , rgb(102, 102, 102), rgb(51, 51, 51)) repeat scroll 0% 0%; }
.link_button:hover { background: transparent -moz-linear-gradient(center top , rgb(68, 68, 68), rgb(17, 17, 17)) repeat scroll 0% 0%; }
input.link_button, button.link_button { border: 0px none; }
ul { list-style: outside none none; margin-left: 0px; }
li { padding: 3px 0px; }
label, input[type="button"], input[type="submit"], button { cursor: pointer; }
button, input, select, textarea { margin: 0px; padding: 3px; }
label { vertical-align: middle; margin-right: 5px; line-height: 1.5; }
input, select { vertical-align: middle; }
input[type="text"], input[type="password"], input[type="button"], input[type="submit"], textarea, select, button { padding: 3px; margin-bottom: 5px; border: 1px solid rgb(170, 170, 170); }
input, textarea, select, button { background-color: rgb(247, 247, 247); outline: medium none; font: 99% sans-serif; color: rgb(51, 51, 51); border-radius: 2px; transition-property: background-color, -moz-box-shadow; transition-duration: 0.25s; transition-timing-function: ease-in-out; }
input:focus, textarea:focus, select:focus, button:focus { background-color: rgb(255, 255, 255); box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); }
input:disabled, textarea:disabled, select:disabled { font-style: italic; color: rgb(153, 153, 153); background-color: rgb(221, 221, 221); }
label { display: inline-block; width: 200px; }
.img_rep { display: block; text-indent: -9999px; overflow: hidden; background-repeat: no-repeat; }
.float_l { float: left; }
.float_r { float: right; }
.clearfix::after, .box::after, .parallel::after, li::after { content: " "; display: block; height: 0px; clear: both; visibility: hidden; overflow: hidden; }
.clearfix, .box, .parallel { display: block; }
/* ::::: http://haseydesign.com/flexi-auth/includes/css/structure.css?v=1.0 ::::: */

body { background: rgb(41, 41, 41) url('site_bg.png') repeat scroll 0% 0%; text-align: center; }
#body_wrap { position: relative; margin: 0px auto; text-align: left; }
#header_wrap { background: rgb(42, 42, 42) url('header_bg.png') repeat-x scroll 0% 0%; }
#header { position: relative; width: 940px; height: 70px; margin: 0px auto; padding: 10px; background: transparent url('header_bg.png') repeat-x scroll 0% 0%; }
#header a:link, #header a:active, #header a:hover, #header a:visited { color: rgb(119, 119, 119); }
#logo { position: absolute; left: 10px; top: 15px; }
#nav { position: absolute; right: 10px; top: 30px; font-size: 22px; font-weight: bold; }
#nav li { display: inline-block; padding-left: 15px; }
#nav a:link, #nav a:active, #nav a:hover, #nav a:visited { color: rgb(238, 238, 238); }
#sub_nav_wrap { min-height: 0px; height: 35px; padding: 0px; }
#sub_nav { position: absolute; width: 100%; left: 0px; margin: 0px; padding: 3px 10px 0px; font-size: 15px; font-weight: bold; color: rgb(255, 255, 255); list-style: outside none none; }
#sub_nav > li { float: left; margin: 0px 15px 0px 0px; padding: 7px 0px; }
#sub_nav > li > ul { position: absolute; overflow: hidden; top: 35px; width: 250px; margin: 0px; padding: 0px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.95; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; box-shadow: 0px 0px 8px rgb(85, 85, 85); z-index: 100; }
#sub_nav .js_nav_dropmenu > ul { height: 0px; }
#sub_nav a:link, #sub_nav a:active, #sub_nav a:hover, #sub_nav a:visited { color: rgb(255, 255, 255); }
#sub_nav > li > ul > li { padding: 2px 10px 4px; display: inline-block; width: 100%; font-size: 14px; font-style: italic; }
#sub_nav > li > ul > li a { display: inline-block; width: 90%; font-weight: normal; }
#sub_nav > li > ul > li::before { content: "» "; }
#sub_nav > li > ul > li:hover { background: rgb(0, 102, 153) none repeat scroll 0% 0%; }
#sub_nav > li > ul > li:last-child { margin-bottom: 2px; }
#sub_nav > li > ul > li.header { background: rgb(76, 76, 76) none repeat scroll 0% 0%; font-size: 15px; box-shadow: 0px 2px 4px rgb(34, 34, 34); }
#sub_nav > li > ul > li.header + li { padding-top: 5px; }
#sub_nav > li > ul > li.header + li:hover { box-shadow: 0px 2px 4px rgb(51, 51, 51) inset; }
#sub_nav > li > ul > li.header::before { content: ""; }
#sub_nav > li > ul > li.status::before { content: ""; }
#flexi_cart_ribbon { position: absolute; top: -60px; right: -148px; width: 118px; height: 208px; background: transparent url('flexi_cart_ribbon.png') no-repeat scroll 0% 0%; }
#flexi_cart_ribbon .ribbon_text { width: 90px; margin: 80px 9px 0px; text-align: center; font-style: italic; }
#flexi_cart_ribbon p { margin: 0px; padding: 0px; font-size: 12px; color: rgb(170, 170, 170); }
#flexi_cart_ribbon h6 { margin: 5px 0px 0px; padding: 0px; font-size: 14px; color: rgb(221, 221, 221); }
#flexi_cart_ribbon:hover { text-decoration: none; }
#footer { color: rgb(255, 255, 255); }
.w100, .w66, .w50, .w33 { float: left; margin: 0px 10px 0px 0px; padding: 10px 15px; }
.w100 { width: 926px; margin: 0px 0px 10px; }
.content_wrap.nav_bg { background: rgb(0, 102, 153) url('nav_wrap_blue_bg.png') repeat-x scroll 0% 0%; }
.content_wrap.intro_bg { background: rgb(240, 240, 240) url('intro_wrap_bg.png') repeat-x scroll 0% 0%; }
.content_wrap.main_content_bg { min-height: 475px; padding-top: 10px; background: rgb(233, 226, 217) url('main_content_wrap_bg.png') repeat-x scroll 0% 0%; }
.content_wrap.footer_bg { background: transparent url('footer_wrap_bg.png') repeat-x scroll 0% 0%; }
.content { position: relative; width: 960px; margin: 0px auto; padding: 10px 0px; }
.frame { margin-top: 10px; background-color: rgb(240, 240, 240); border: 2px solid rgb(170, 170, 170); }
.inl_block li::before, .inl_block li::before { content: "• "; font-size: 17px; }
.tooltip_trigger { cursor: help; }
span.tooltip_trigger::after { content: "†"; vertical-align: 7px; font-size: 70%; color: rgb(0, 102, 153); }
