/* ::::: http://haseydesign.com/flexi-cart/includes/css/global.css?v=0.1 ::::: */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-size: 100%; vertical-align: baseline; background: transparent none repeat scroll 0% 0%; }
body { font: 14px/1.3 sans-serif; color: rgb(51, 51, 51); }
html { overflow-y: scroll; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; text-rendering: optimizelegibility; }
h1 { font-size: 19px; margin: 5px 0px; }
h2 { font-size: 18px; margin: 5px 0px; }
h3 { font-size: 17px; margin: 3px 0px; }
h6 { font-size: 14px; margin: 0px 0px 3px; }
p { font-size: 14px; margin: 0px 0px 5px; }
strong { font-weight: bold; }
pre, code { font-family: Consolas,Menlo,Monaco,"Lucida Console",courier,monospace,serif; }
hr { clear: both; display: block; width: 96%; height: 1px; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(204, 204, 204) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin: 15px auto; padding: 0px; }
*::-moz-selection { background: rgb(51, 153, 255) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-shadow: none; }
.align_ctr { text-align: center; }
.highlight_red { color: rgb(204, 0, 0); }
.info_req label::after, th.info_req::after { content: "*"; color: rgb(204, 0, 0); font-size: 110%; }
.info_note label::after, th.info_note::after { content: "†"; vertical-align: 7px; font-size: 70%; }
a { margin: 0px; padding: 0px; font-size: 100%; vertical-align: baseline; background: transparent none repeat scroll 0% 0%; }
a:hover, a:active { outline: medium none; }
a, a:link, a:active, a:visited { color: rgb(204, 0, 0); text-decoration: none; }
a:hover { color: rgb(204, 0, 0); text-decoration: underline; }
a:link {  }
ul { list-style: outside none none; margin-left: 0px; }
li { padding: 3px 0px; }
table { width: 100%; margin: 10px 0px; border: 2px solid rgb(170, 170, 170); border-collapse: collapse; border-spacing: 0px; background-color: rgb(240, 240, 240); }
table th, table td { border-bottom: 1px dotted rgb(170, 170, 170); border-right: 1px dotted rgb(170, 170, 170); text-align: left; vertical-align: middle; }
thead th, thead td, tfoot th, tfoot td { border-bottom: 1px solid rgb(170, 170, 170); border-top: 1px solid rgb(170, 170, 170); background-color: rgb(217, 217, 217); }
table th { padding: 8px; font-weight: bold; }
table td { padding: 8px; }
label, input[type="button"], input[type="submit"], button { cursor: pointer; }
button, input, select, textarea { margin: 0px; padding: 3px; }
input, select { vertical-align: middle; }
input[type="text"], input[type="password"], input[type="button"], input[type="submit"], textarea, select, button { padding: 3px; margin-bottom: 5px; border: 1px solid rgb(170, 170, 170); }
input, textarea, select, button { background-color: rgb(247, 247, 247); outline: medium none; font: 99% sans-serif; color: rgb(51, 51, 51); border-radius: 2px; transition-property: background-color, -moz-box-shadow; transition-duration: 0.25s; transition-timing-function: ease-in-out; }
input:focus, textarea:focus, select:focus, button:focus { background-color: rgb(255, 255, 255); box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); }
input:disabled, textarea:disabled, select:disabled { font-style: italic; color: rgb(153, 153, 153); background-color: rgb(221, 221, 221); }
.spacer_25, label.spacer_25, .spacer_50, label.spacer_50, .spacer_75, label.spacer_75, .spacer_100, label.spacer_100, .spacer_125, label.spacer_125, .spacer_150, label.spacer_150, .spacer_175, label.spacer_175, .spacer_200, label.spacer_200, .spacer_225, label.spacer_225, .spacer_250, label.spacer_250, .spacer_275, label.spacer_275, .spacer_300, label.spacer_300, .spacer_400, label.spacer_400 { display: inline-block; }
th.spacer_25, td.spacer_25, th.spacer_50, td.spacer_50, th.spacer_75, td.spacer_75, th.spacer_100, td.spacer_100, th.spacer_125, td.spacer_125, th.spacer_150, td.spacer_150, th.spacer_175, td.spacer_175, th.spacer_200, td.spacer_200, th.spacer_225, td.spacer_225, th.spacer_250, td.spacer_250, th.spacer_275, td.spacer_275, th.spacer_300, td.spacer_300 { display: table-cell; }
.spacer_75 { width: 75px; }
.spacer_100 { width: 100px; }
.spacer_125 { width: 125px; }
.img_rep { display: block; text-indent: -9999px; overflow: hidden; background-repeat: no-repeat; }
.float_l { float: left; }
.float_r { float: right; }
.clearfix::after, .box::after, .parallel::after, li::after { content: " "; display: block; height: 0px; clear: both; visibility: hidden; overflow: hidden; }
.clearfix, .box, .parallel { display: block; }
/* ::::: http://haseydesign.com/flexi-cart/includes/css/structure.css?v=0.1 ::::: */

body { background: rgb(41, 41, 41) url('site_bg_001.png') repeat scroll 0% 0%; text-align: center; }
#body_wrap { position: relative; margin: 0px auto; text-align: left; }
#header_wrap { background: rgb(32, 61, 75) url('header_bg_001.png') repeat-x scroll 0% 0%; }
#header { position: relative; width: 940px; height: 70px; margin: 0px auto; padding: 10px; background: rgb(32, 61, 75) url('header_bg_001.png') repeat-x scroll 0% 0%; }
#header a:link, #header a:active, #header a:hover, #header a:visited { color: rgb(119, 119, 119); }
#logo { position: absolute; left: 10px; top: 15px; }
#nav { position: absolute; right: 10px; top: 30px; font-size: 22px; font-weight: bold; }
#nav li { display: inline-block; padding-left: 15px; }
#nav a:link, #nav a:active, #nav a:hover, #nav a:visited { color: rgb(238, 238, 238); }
#sub_nav_wrap { min-height: 0px; height: 35px; padding: 0px; }
#sub_nav { position: absolute; width: 100%; left: 0px; margin: 0px; padding: 0px 10px; font-size: 17px; font-weight: bold; color: rgb(255, 255, 255); list-style: outside none none; }
#sub_nav > li { float: left; margin: 0px 15px 0px 0px; padding: 7px 0px; }
#sub_nav > li > ul { position: absolute; overflow: hidden; top: 35px; width: 250px; margin: 0px; padding: 0px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.95; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; box-shadow: 0px 0px 8px rgb(85, 85, 85); z-index: 100; }
#user_guide #sub_nav > li > ul, #user_guide_index #sub_nav > li > ul { width: 265px; }
#sub_nav .js_nav_dropmenu > ul { height: 0px; }
#sub_nav a:link, #sub_nav a:active, #sub_nav a:hover, #sub_nav a:visited { color: rgb(255, 255, 255); }
#sub_nav > li > ul > li { padding: 2px 10px 4px; display: inline-block; width: 100%; font-size: 14px; font-style: italic; }
#sub_nav > li > ul > li a { display: inline-block; width: 90%; font-weight: normal; }
#sub_nav > li > ul > li::before { content: "» "; }
#sub_nav > li > ul > li:hover { background: rgb(204, 0, 0) none repeat scroll 0% 0%; }
#sub_nav > li > ul > li:last-child { margin-bottom: 2px; }
#sub_nav > li > ul > li.header { background: rgb(76, 76, 76) none repeat scroll 0% 0%; font-size: 15px; box-shadow: 0px 2px 4px rgb(34, 34, 34); }
#sub_nav > li > ul > li.header + li { padding-top: 5px; }
#sub_nav > li > ul > li.header + li:hover { box-shadow: 0px 2px 4px rgb(34, 34, 34) inset; }
#sub_nav > li > ul > li.header::before { content: ""; }
#sub_nav > li > ul > li.status::before { content: ""; }
#sub_nav #user_guide_search { float: right; font-size: 12px; }
#sub_nav #user_guide_input { width: 125px; height: 15px; }
#flexi_auth_ribbon { position: absolute; top: -60px; right: -148px; width: 118px; height: 208px; background: transparent url('flexi_auth_ribbon.png') no-repeat scroll 0% 0%; }
#flexi_auth_ribbon .ribbon_text { width: 90px; margin: 80px 9px 0px; text-align: center; font-style: italic; }
#flexi_auth_ribbon p { margin: 0px; padding: 0px; font-size: 12px; color: rgb(170, 170, 170); }
#flexi_auth_ribbon h6 { margin: 5px 0px 0px; padding: 0px; font-size: 14px; color: rgb(221, 221, 221); }
#flexi_auth_ribbon:hover { text-decoration: none; }
#footer { color: rgb(255, 255, 255); }
.w100, .w66, .w50, .w33 { float: left; margin: 0px 10px 0px 0px; padding: 10px 15px; }
.w100 { width: 926px; margin: 0px 0px 10px; }
.content_wrap.nav_bg { background: rgb(153, 0, 0) url('nav_wrap_red_bg.png') repeat-x scroll 0% 0%; }
.content_wrap.intro_bg { background: rgb(240, 240, 240) url('intro_wrap_bg_001.png') repeat-x scroll 0% 0%; }
.content_wrap.main_content_bg { min-height: 475px; padding-top: 10px; background: rgb(233, 226, 217) url('main_content_wrap_bg_001.png') repeat-x scroll 0% 0%; }
.content_wrap.footer_bg { background: transparent url('footer_wrap_bg_001.png') repeat-x scroll 0% 0%; }
.content { position: relative; width: 960px; margin: 0px auto; padding: 10px 0px; }
.frame { margin-top: 10px; background-color: rgb(240, 240, 240); border: 2px solid rgb(170, 170, 170); }
.frame_note { margin-top: 5px; margin-bottom: 15px; padding: 10px; background-color: rgb(230, 230, 230); border: 1px solid rgb(204, 204, 204); }
.frame_note hr { margin-top: 10px; margin-bottom: 10px; }
.frame_note p:last-child { margin: 0px; }
.frame_note:last-child { margin-bottom: 5px; }
h3.heading { display: block; margin: -12px -17px 10px; padding: 10px 15px; border-width: 2px 2px 1px; border-style: solid; border-color: rgb(170, 170, 170); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background-color: rgb(204, 204, 204); color: rgb(51, 51, 51); font-family: Verdana,Arial; font-weight: bold; font-size: 16px; }
.inl_block li::before, .inl_block li::before { content: "• "; font-size: 17px; }
.toggle { font-weight: bold; font-size: 12px; cursor: pointer; }
.hide_toggle { display: none; }
span.tooltip_trigger::after { content: "†"; vertical-align: 7px; font-size: 70%; color: rgb(204, 0, 0); }
.intro_text { padding: 0px 5px; }
#user_guide_index .frame ul, #user_guide .frame ul { margin: 0px 0px 5px 20px; list-style: outside none disc; }
#user_guide_index .frame ul li, #user_guide .frame ul li { padding: 2px 0px; }
#user_guide_index .content_wrap.nav_bg, #user_guide .content_wrap.nav_bg { background: rgb(255, 95, 0) url('nav_wrap_orange_bg_001.png') repeat-x scroll 0% 0%; }
#user_guide_index #sub_nav > li > ul > li:hover, #user_guide #sub_nav > li > ul > li:hover { background: rgb(255, 95, 0) none repeat scroll 0% 0%; }
#user_guide_index #sub_nav > li > ul > li.header:hover, #user_guide #sub_nav > li > ul > li.header:hover { background: rgb(76, 76, 76) none repeat scroll 0% 0%; }
#user_guide hr { margin: 10px 20px; border-width: 1px medium medium; border-style: solid none none; border-color: rgb(204, 204, 204) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
#user_guide code { color: rgb(255, 95, 0); font-weight: bold; }
#user_guide pre { margin-bottom: 10px; padding: 15px; border: 1px dotted rgb(255, 95, 0); background-color: rgb(230, 230, 230); color: rgb(255, 95, 0); }
#user_guide pre:last-child { margin-bottom: 5px; }
#user_guide pre .comment { color: rgb(102, 102, 102); }
#user_guide table { margin-top: 5px; margin-bottom: 15px; }
#user_guide table, #user_guide table thead th { border: 1px solid rgb(170, 170, 170); }
#user_guide table th { background-color: rgb(221, 221, 221); border-top: 1px solid rgb(170, 170, 170); border-bottom: 1px solid rgb(170, 170, 170); }
#user_guide table tbody { font-size: 13px; }
.anchor_nav { margin: 10px 0px; padding: 10px; background: rgb(230, 230, 230) none repeat scroll 0% 0%; border: 1px solid rgb(170, 170, 170); }
.anchor_nav p { margin-bottom: 15px; }
.anchor_nav p:last-child { margin: 0px; }
#user_guide .help_link { float: right; margin: -25px 0px 0px; padding: 1px 5px; background-color: rgb(221, 221, 221); border: 1px dotted rgb(204, 0, 0); }
#user_guide code ~ .help_link { margin: -5px 0px 0px; }
