/*
    Dunlop
    By Crackthemes
*/

/*  ==========================================================================
    Table of Contets
    ==========================================================================
    
    1.0 Common Styles
    2.0 Slider section
    3.0 About Section
    4.0 Service Section
    5.0 Counter Section
    6.0 Portfolio Section
    7.0 Testimonial Section
    8.0 Pricing Section
    9.0 Blog Section
    10.0 Contact Section
    11.0 Widget Section
    12.0 Footer Section
    13.0 Scroll to Top
    
    ==========================================================================
    Dunlop
    ========================================================================== */

	@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Open+Sans:400,600');
	
/*  ==========================================================================
    Common Styles
    ========================================================================== */
*{
	padding: 0;
	margin: 0;
}
body{
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #777;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing:antialiased;
	color: #333;
}
h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 10px;
    letter-spacing: -0.05em;
}
h2{
    font-size: 24px;
    margin: 0 0 10px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: -0.02em;
}
h3,h4{
    margin: 0 0 10px;
    font-weight: 300;
    line-height: 1.7;
    color: #333;
    letter-spacing: -0.01em;
}
h3{
    font-size: 17px;
}
h4{
    font-size: 15px;
}
h5,h6{
    font-size: 14px;
    margin: 0 0 10px;
}
img{
    border: none;
    outline:none;
    max-width: 100%;
}
ul{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}
p, li, a, span{
    letter-spacing: 1px;
}
p{
    font-size: 14px;
    margin-bottom: 15px;
}
a, a:hover{
    text-decoration: none;
}
a:focus{
    outline: 0;
    text-decoration: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
   color: #777 !important;
}

input:-moz-placeholder,
textarea:-moz-placeholder{ /* Firefox 18- */
   color: #777 !important;  
}

input::-moz-placeholder,
textarea::-moz-placeholder{  /* Firefox 19+ */
   color: #777 !important;  
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder{  
   color: #777 !important;  
}
button{
    border: none;
	background: none;
}
/* Helper Class */
.padding{
    padding: 80px 0;
}
.no-padding{
    padding: 0;
}

.bg-white{ background-color: #fff; }
.bg-grey{ background-color: #f7f7f7;}
.bg-dark{ background-color: #232323;}
.bd-top{ border-top: 1px solid #eaeaea;}
.bd-bottom{ border-bottom: 1px solid #eaeaea;}

.mb-15{ margin-bottom: 15px; }
.mb-20{ margin-bottom: 20px; }
.mb-25{ margin-bottom: 25px; }
.mb-30{ margin-bottom: 30px; }
.mb-35{ margin-bottom: 35px; }
.mb-40{ margin-bottom: 40px; }
.mb-45{ margin-bottom: 45px; }
.mb-50{ margin-bottom: 50px; }
.fz-28{ font-size: 28px; }
.fz-24{ font-size: 24px; }
.fz-22{ font-size: 22px; }
.fz-20{ font-size: 20px; }
.fz-18{ font-size: 18px; }
.fz-16{ font-size: 16px; }
.text-black{
    color: #333;
}
.text-white{
    color: #ffffff;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}
.fl-right{
    float: right;
}
.fl-left{
    float: left;
}
.display-table{
    width: 100%;
    height: 100%;
    display: table;
}
.table-cell{
    display: table-cell;
    vertical-align: middle;
}
.container{
    height: 100%;
}
.overlay{
    width: 100%;
    position: relative;
    z-index: 1;
}
.overlay:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

/* Preloader Styles */
#preloader{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #fff;
    height: 100%;
    width: 100%;
    -webkit-transition: all .5s .5s ease;
    -moz-transition: all .5s .5s ease;
    transition: all .5s .2s ease;
}
.loader{
    position:absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 60px;
    height: 60px;
    display: block;
    margin: auto;
    margin-top: -30px;
}
body.loaded #preloader{
    opacity: 0;
    visibility: hidden;
}

/* Button Style */
.btn_group{}
.btn_group a{
    margin: 5px;
}
.btn_group_left a{
    margin-right: 15px;
    margin-bottom: 15px;
}
.fs_btn{
    background-color: #4a90e2;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    border-radius: 3px;
    line-height: 45px;
    display: inline-block;
    padding: 0 25px;
}
.fs_btn:hover{
    background-color: #57a2f9;
    color: #fff;
}
.fs_btn.btn_2{
    background-color: #fff;
    border: 2px solid #fff;
    text-transform: uppercase;
    color: #333;
    line-height: 45px;
    display: inline-block;
    padding: 0 25px;
}
.fs_btn.btn_2:hover{
    background-color: transparent;
    color: #fff;
}
.fs_btn.btn_sm{
    line-height: 40px;
    padding: 0 15px;
}

/* Transition Effect */
a,a:hover, .overlay, img, .form-control,  .form-control:hover, button{
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/* ==========================================================================
   Slider section
   ========================================================================== */
.slider_section{}
.slider_content .btn_group a{
    margin: 0 10px 0 0;
}
.slider_content .fs_btn:hover{
    color: #fff;
}
.slider_item{
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 570px;
}
.main_slider .owl-nav{}
.main_slider .owl-nav div{
    color: #fff;
    width: 60px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    position: absolute;
    left: 0;
    top: calc(50% - 60px);
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}
.main_slider .owl-nav div:hover{
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
.main_slider .owl-nav div.owl-next{
    left: auto;
    right: 0;
}
.main_slider .owl-dots {
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 25px;
}
.main_slider .owl-dots div{
    background-color: rgba(255,255,255,0.4);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
    transition: all 0.5s ease-in-out;
}
.main_slider .owl-dots div.active{
    background-color: rgba(255,255,255,1);
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    transition: all 0.5s ease-in-out;
} 

/* ==========================================================================
   About section
   ========================================================================== */
.about_section{}      
.about_section img{
    width: 80%;
    margin-left: 50px;
}
.about_content{
    padding-top: 100px;
}
.about_content h2{}   
.about_content p{} 

/* ==========================================================================
   Service Section
   ========================================================================== */
.service_section{}
.service_lists .col-sm-4{
    padding: 20px;
}

.service_section .service_list .service_content{
    display: block;
    text-align: center;
}
.service_section .service_list .service_content i {
    display: inline-block;
    font-size: 24px;
    color: #fff;
    background-color: #4a90e2;
	width: 80px;
	height: 80px;
	padding: 5px;
    line-height: 75px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.service_section .service_list .service_content h4{
    margin: 10px 0 5px;
}
.service_section .service_list .service_content p{
    margin: 0;
}

/* ==========================================================================
  Counter Section
   ========================================================================== */
.counter_section{
	background-image: url(../img/counter-bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
}
.counters{}
.counters .counter_content{
	display: block;
	text-align: center;
	color: #fff;
}
.counters .counter_content i{
	font-size: 36px;
}
.counters .counter_content h3{
	font-size: 35px;
	margin: 5px 0;
	color: #4a90e2;
    font-weight: 700;
}
.counters .counter_content h4{
    text-transform: uppercase;
	margin: 0;
}
/* ==========================================================================
   Portfolio Section
   ========================================================================== */
.portfolio_section{
    border-bottom: 1px solid #eaeaea;
}
.portfolio_section .portfolio_filter{
	display: block;
	text-align: center;
	overflow: hidden;
}
.portfolio_section .portfolio_filter li{
    font-size: 12px;
    text-transform: uppercase;
	color: #999;
	display: inline-block;
	margin-left: -4px;
	padding: 10px 20px;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
}
.portfolio_section .portfolio_filter li.active {
	color: #444;
	transition: all 0.5s ease-in-out;
}
.portfolio_section .portfolio_items{}
.portfolio_section .portfolio_items li{
	padding: 1px;
}
.portfolio_section .portfolio_items .portfolio_item{
	position: relative;
	overflow: hidden;
}
.portfolio_items .portfolio_item .hover_effect{
    padding: 15px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}
.portfolio_items .portfolio_item .hover_effect a{
    background-color: rgba(74, 144, 226,0.9);
    display: table;
    height: 100%;
    width: 100%;
}
.portfolio_items .portfolio_item .hover_effect a img{
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    -webkit-transition: all 250ms cubic-bezier(1, -0.6, 0.57, -0.15) 0s;
    transition: all 250ms cubic-bezier(1, -0.6, 0.57, -0.15) 0s;
    visibility: hidden;
}
.portfolio_items .portfolio_item:hover .hover_effect{
    visibility: visible;
    opacity: 1;
}
.portfolio_items .portfolio_item:hover .hover_effect a img{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1);
            transform: scale(1);
    visibility: visible;
}

/* ==========================================================================
   Testimonial Section
   ========================================================================== */
.testimonial_section{
    background-image: url(../img/testimonial-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 150px 0;
}
.testimonial{
    display: block;
    text-align: center;
}
.testimonial .client_thumb {
    position: inherit;
    left: inherit;
    bottom: inherit;
    width: 100%;
    margin: 0 0 15px;
}
.testimonial .client_thumb li{
    display: inline-block;
    width: 80px;
    text-indent: inherit;
    height: 80px;
    border: none;
    margin: 0 3px;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}
.testimonial .client_thumb li.active{
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
.testimonial .client_thumb li img{
    width: 100%;
}
.testimonial .testi_content{
    color: #fff;
}
.testimonial .testi_content h3{
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin: 0 0 5px;
}
.testimonial .testi_content p{
    font-size: 16px;
    margin: 0;
}
.testi_control{}
.testi_control a{
    width: 35px;
    height: 35px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: calc(50% - 15px);
    opacity: 0.3;
}
.testi_control a:hover,
.testi_control a:focus{
    opacity: 1;
}
.testi_control a.right_arrow{
    right: 0;
    left: auto;
}

/* ==========================================================================
   Pricing Section
   ========================================================================== */
.pricing_section{}
.pricing_tables{}
.pricing_table{
    padding: 30px 50px;
    text-align: center;
}
.pricing_table i{
    font-size: 42px;
    color: #4a90e2;
    margin-bottom: 20px;
}
.pricing_table h3{
    color: #444;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 20px;
}
.pricing_table span.price{
    display: inline-block;
    padding: 0px 30px;
    color: #4a90e2;
    font-size: 46px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: -0.04em;
}
.pricing_table.mid{
    border: 1px solid #4a90e2;
}
.pricing_table ul{
    padding: 35px 0;
}
.pricing_table ul li{
    display: block;
    padding: 15px 0;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
}


/* ==========================================================================
   Blog Section
   ========================================================================== */
.blog_section{}
.blog_section .blog_posts{}
.blog_section .blog_posts .blog_post{}
.blog_section .blog_posts .blog_post .post_thumb{
	position: relative;
}
.blog_section .blog_posts .blog_post .post_thumb img{
	width: 100%;
}
.blog_section .blog_posts .blog_post .post_thumb .date{
	background-color: #4a90e2;
	display: inline-block;
	font-size: 12px;
    font-weight: 700;
	color: #fff;
    text-transform: uppercase;
	padding: 10px 15px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.blog_section .blog_posts .blog_post h3{
	margin: 10px 0 5px;
}
.blog_section .blog_posts .blog_post h3 a{
    text-transform: uppercase;
	color: #282828;
}
.blog_section .blog_posts .blog_post h3 a:hover{
	color: #111;
    text-decoration: underline;
}
.blog_section .blog_posts .blog_post .posted_by{
    text-transform: uppercase;
	display: block;
	margin: 0 0 10px;
}
.blog_section .blog_posts .blog_post p{
	margin: 0 0 10px;
}
.blog_section .blog_posts .blog_post .read_more{
    text-transform: uppercase;
	color: #777;
}
.blog_section .blog_posts .blog_post .read_more:hover{
	color: #111;
}

/* ==========================================================================
   Contact Section
   ========================================================================== */
.contact_section{}
.contact_section .contact_info{
    background-color: #fff;
    border: 1px solid #4a90e2;
    padding: 60px;
    border-radius: 5px;
    text-align: center;
}
.contact_info i{
    font-size: 50px;
    color: #4a90e2;
}
.contact_info h2{
    font-size: 40px;
    color: #4a90e2;
    font-weight: 800;
}
.section_heading{
    margin-left: 25px;
}
.contact_wrap{
	padding-left: 25px;
}
.contact_form .form-control{
	background: none;
	color: #333;
    height: 50px;
	border-radius: 1px;
	border: 1px solid #ddd;
}

.contact_form .form-control.msg{
    height: inherit;
}
#ajax_registration .alert,
#ajax_form .alert{
    display: none;
}
#ajax_registration .alert.alert-success,
#ajax_form .alert.alert-success,
#ajax_registration .alert.alert-danger,
#ajax_form .alert.alert-danger{
    display: block;
}

#google_map{
    width: 100%;
    height: 350px;
}
/*==========================================================================
   Widget Section
  ========================================================================== */
.widget_section{
    background-image: url(../img/widget-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.footer_content{}
.footer_content h3{
    color: #fff;
	margin: 0 0 10px;
}
.footer_content p.address a,
.footer_content p{
	color: #fff;
}
.footer_content p.address{
	line-height: 28px;
}
.footer_content p.address i.fa{
    font-size: 16px;
	color: #4a90e2;
}
.links{}
.links li{
    display: block;
    padding: 3px 0;
}
.links li a{
    color: #ddd;
}
.links li a:hover{
    color: #fff;
    text-decoration: underline;
}
.social_links{}
.social_links li{
	display: inline-block;
}
.social_links li a{
	display: inline-block;
	text-align: center;
	color: #fff;
    background-color: #4a90e2;
    border: 1px solid #4a90e2;
	font-size: 12px;
	line-height: 32px;
	width: 32px;
	height: 32px;
	margin-right: 10px;
}
.social_links li a:hover{
    background-color: transparent;
    color: #fff;
}
/* ==========================================================================
   Footer Section
   ========================================================================== */
.footer_section{
    display: block;
    padding: 20px 0;
}
.footer_section .copyright{
    font-size: 12px;
    color: #ddd;
}  
.footer_social{
    display: block;
    text-align: right;
}
.footer_social li{
    display: inline-block;
}
.footer_social li a{
    color: #ddd;
    font-size: 12px;
    margin-left: 15px;
}
.footer_social li a:hover{
    color: #fff;
}

/* ==========================================================================
   Scroll to Top
   ========================================================================== */
#scroll-to-top{
    background-color: #4a90e2;
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 55px;
    text-align: center;
    font-size: 14px;
    line-height: 50px;
    color: #fff;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
}
#scroll-to-top:hover{
    background-color: #282828;
    color: #fff;
}
